<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6366b4">  <td>19/04/23 12:58:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TrainSearch.Shipment_BasicSearch()[pri:0, instance:com.project.tests.TrainSearch@4b1c1ea0]">Shipment_BasicSearch</td> 
  <td>main@1045941616</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>19/04/23 12:58:15</td>   <td>-34039</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.setUp()[pri:0, instance:com.project.tests.TrainSearch@4b1c1ea0]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1045941616</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>19/04/23 12:58:16</td>   <td>-33276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.startReport(java.lang.reflect.Method)[pri:0, instance:com.project.tests.TrainSearch@4b1c1ea0]">&gt;&gt;startReport</td> 
<td>&nbsp;</td>  <td>main@1045941616</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>19/04/23 12:59:29</td>   <td>40150</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.tearDown(java.lang.reflect.Method)[pri:0, instance:com.project.tests.TrainSearch@4b1c1ea0]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1045941616</td>   <td></td> </tr>
<tr bgcolor="88c1b2">  <td>19/04/23 12:59:33</td>   <td>44187</td> <td title="&lt;&lt;TestBase.tearDown2()[pri:0, instance:com.project.tests.TrainSearch@4b1c1ea0]">&lt;&lt;tearDown2</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1045941616</td>   <td></td> </tr>
</table>
